<% include partials/header.ejs %>
    
    <body>
        <h1>Jupiter</h1>
        <img src="/img/jupiter.jpg" alt="Jupiter" />
            <ul class= "list-group">
                <li class="list-group-item active">Jupiter Facts</li>
                <li class="list-group-item">The fourth brightest object in the Solar System after Venus</li>
                <li class="list-group-item">Babylonians first discovered Jupiter</li>
                <li class="list-group-item">Has the shortest day of all planets</li>
                <li class="list-group-item">Days last approximately 9 hours and 55 minutes</li>
                <li class="list-group-item">Orbits the sun once every 11.8 Earth years</li>
                <li class="list-group-item">Has very unique cloud features</li>
                <li class="list-group-item">The Great Red Spot is a huge storm on Jupiter</li>
                <li class="list-group-item">Made of rock, metal and hydrogen</li>
                <li class="list-group-item">Has the largest moon (Ganymede)</li>
                <li class="list-group-item">Has a thin ring system</li>
                <li class="list-group-item">Is significantly larger than the earth.</li>
                
                
            </ul>


<% include partials/footer %>