<% include partials/header.ejs %>
    
    <body>
        <h1> Mars</h1>
        <img src="/img/mars.jpg" alt="Mars" />
            <ul class= "list-group">
                <li class="list-group-item active">Mercury Facts</li>
                <li class="list-group-item">Mars and Earth have approximately the same landmass</li>
                <li class="list-group-item">How of the tallest mountains in the solar system.</li>
                <li class="list-group-item">Olympus Mons is over 21km high and 600kmm in diameter</li>
                <li class="list-group-item">Has the largest dust storms</li>
                <li class="list-group-item">The sun appears about half the size it does on Earth</li>
                <li class="list-group-item">Mars takes its name from the Roman god of war (Ares)</li>
                <li class="list-group-item">There are signs of liquid water on Mars</li>
                <li class="list-group-item">Is the most likely to be inhabitable in the future.</li>
                <li class="list-group-item">Is called the "red planet"</li>
                <li class="list-group-item">Is larger than Earth</li>
                
            </ul>


<% include partials/footer %>