<% include partials/header.ejs %>
    
    <body>
        <h1> Mercury</h1>
        <img src="/img/mercury.jpg" alt="Mercury" />
            <ul class= "list-group">
                <li class="list-group-item active">Mercury Facts</li>
                <li class="list-group-item">A year on Mercury is only 88 days</li>
                <li class="list-group-item">Mercury is the smallest planet in the whole Solar System</li>
                <li class="list-group-item">The second densest planet</li>
                <li class="list-group-item">Has a molten core.  Contains a lot sulphur</li>
                <li class="list-group-item">The second hottest planet after Venus</li>
                <li class="list-group-item">Has the most craters in comparison to any of the other planets</li>
                <li class="list-group-item">Named after Roma messenger to the gods</li>
                <li class="list-group-item">Has only 38% of Earth's gravity</li>
                <li class="list-group-item">Has little to no atmospher</li>
                <li class="list-group-item">Is larger than Earth</li>
                
            </ul>


<% include partials/footer %>