<% include partials/header.ejs %>
    
    <body>
        <h1> Venus</h1>
        <img src="/img/venus.png" alt="Venus" />
            <ul class= "list-group">
                <li class="list-group-item active">Venus Facts</li>
                <li class="list-group-item">Venus is the closest planet from the sun.</li>
                <li class="list-group-item">The third brightest object in Earth's sky.</li>
                <li class="list-group-item">Named after Roman Goddes of Love and Beauty.</li>
                <li class="list-group-item">Second largest terrestrial plane.t</li>
                <li class="list-group-item">Sometimes referred to as the "morning star" and "evening star".</li>
                <li class="list-group-item">One day on Venus is longer than a year.</li>
                <li class="list-group-item">Venus is known as Earth's sister planet.</li>
                <li class="list-group-item">Rotates the opposite direction to other planets.</li>
                <li class="list-group-item">The hottest planet in the solar system.</li>
                <li class="list-group-item">Night and day does not change the temperatures on the surface too much.</li>
                <li class="list-group-item">Has a very weak mangnetic field.</li>
                <li class="list-group-item">Orbits the sun in an ellipse</li>
            </ul>

    

<% include partials/footer %>